:root {
    --primary-color: rgb(1, 71, 49);
    --secondary-color: rgb(25, 116, 87);
    --tertiary-color: rgb(176, 214, 202);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 90px;
    align-items: center;
}

header h1{
    font-weight: bold;
    width: 300px;
    height: 50px;
    padding-right: 10px;
    font-size: 36px;
    background-color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-align: right;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 15px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px;
    font-weight: normal;
    font-size: 2.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
}
.hero {
    background-image: url('../Portfolio\ Banner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 250px;
}



.flex-row {
    display: flex;
}

.sectiontitle {
    font-size: 40px;
    color: var(--primary-color);
    text-align: center;
    padding-top: 40px;
    margin: 0 auto 35px auto;
    width: 40%;
    border-bottom: 3px solid;
    padding-bottom: 20px;
}

.bio p {
line-height: 1.5;
color: var(--secondary-color);
width: 75%;
margin: 0 auto;
font-size: 20px;
text-align: center;
}

.mainSample {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sampleList {
    margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
